/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.item {
  border: solid black 1px;
}

.search {
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.searchButton {
  position: relative;
  left: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: center; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}


.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%; 
}

.modalClose {
  position: relative;
  text-align: right !important;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper.hover,
.wrapper.focus {
  text-decoration: none;
  cursor: pointer;
}